# rootfs
type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type op1_file, file_type;
type op2_file, file_type;
type persist_file, file_type;

# proc
type proc_touchpanel, fs_type, proc_type;

# sysfs
type sysfs_battery_supply, sysfs_type, fs_type;
type sysfs_fod, sysfs_type, fs_type;
type sysfs_fpc_proximity, sysfs_type, fs_type;
type sysfs_graphics, sysfs_type, fs_type;
type sysfs_oem, sysfs_type, fs_type;

# data
type display_misc_file, file_type, data_file_type, core_data_file_type;

# system
type system_configs_file, system_file_type, file_type;
