type hal_livedisplay_sdm845, domain;
hwbinder_use(hal_livedisplay_sdm845)

type hal_livedisplay_sdm845_exec, exec_type, file_type;
init_daemon_domain(hal_livedisplay_sdm845)

add_hwservice(hal_livedisplay_sdm845, shal_lineage_livedisplay_hwservice)

# Talk to the binder device node
allow hal_livedisplay_sdm845 binder_device:chr_file rw_file_perms;

# Check if hwservicemanager is ready
get_prop(hal_livedisplay_sdm845, hwservicemanager_prop)

# Allow LiveDisplay to store files under /data/display and access them
allow hal_livedisplay_sdm845 display_data_file:dir rw_dir_perms;
allow hal_livedisplay_sdm845 display_data_file:file create_file_perms;

# Allow access to LiveDisplay tuning nodes
allow hal_livedisplay_sdm845 sysfs_livedisplay:file rw_file_perms;
