type hal_livedisplay_sdm845, coredomain, domain;
hal_server_domain(hal_livedisplay_sdm845, hal_lineage_livedisplay)

type hal_livedisplay_sdm845_exec, exec_type, file_type;
init_daemon_domain(hal_livedisplay_sdm845)

# Allow LiveDisplay to store files under /data/misc/display and access them
allow hal_livedisplay_sdm845 display_misc_file:dir rw_dir_perms;
allow hal_livedisplay_sdm845 display_misc_file:file create_file_perms;

# Grant access over LiveDisplay tuneables
allow hal_livedisplay_sdm845 sysfs_livedisplay_tuneable:file rw_file_perms;
