type hal_fod_sdm845, coredomain, domain;
hal_server_domain(hal_fod_sdm845, hal_lineage_fod)

type hal_fod_sdm845_exec, exec_type, file_type;
init_daemon_domain(hal_fod_sdm845)

# Allow binder communication with hal_display_default
binder_call(hal_fod_sdm845, hal_display_default)

# Allow binder communication with hal_fingerprint
binder_call(hal_fod_sdm845, hal_fingerprint)

# Allow hal_fod_sdm845 to hal_display_hwservice
allow hal_fod_sdm845 hal_display_hwservice:hwservice_manager find;

# Allow hal_fod_sdm845 to hal_fingerprint_hwservice
allow hal_fod_sdm845 hal_fingerprint_hwservice:hwservice_manager find;

# Allow hal_fod_sdm845 to read and write to sysfs_fod
allow hal_fod_sdm845 sysfs_fod:file rw_file_perms;
