# Allow init to mount wlan kernel module
allow init { system_file vendor_file }:file mounton;

# Allow init to mount vendor configs
allow init { system_configs_file vendor_configs_file }:file mounton;

# Allow init to chown/chmod on pseudo files in /sys
allow init {
    sysfs_fpc_proximity
    sysfs_graphics
}:file { open read setattr };
