# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;

# Allow init to mount vendor overlays
allow init vendor_overlay_file:dir mounton;

# Allow init to chown/chmod on pseudo files in /sys
allow init {
    sysfs_fod
    sysfs_fpc_proximity
    sysfs_graphics
    sysfs_livedisplay_tuneable
}:file { open read setattr };

# Allow init to write to otg_switch
allow init sysfs_usb_supply:file w_file_perms;
