type keyhandler_app, domain;

app_domain(keyhandler_app)

allow keyhandler_app self:netlink_kobject_uevent_socket { read bind setopt create };

allow keyhandler_app app_api_service:service_manager find;

allow keyhandler_app system_app_data_file:dir create_dir_perms;
allow keyhandler_app system_app_data_file:{ file lnk_file } create_file_perms;
