# Allow vendor_init to set public_vendor_default_prop
set_prop(vendor_init, public_vendor_default_prop)

# Allow vendor_init to set vendor_camera_prop
set_prop(vendor_init, vendor_camera_prop)
