typeattribute vendor_init data_between_core_and_vendor_violators;

# Allow vendor_init to check encryption status of system_data_file
allow vendor_init system_data_file:dir { ioctl open read setattr };

# Allow vendor_init to set vendor_camera_prop
set_prop(vendor_init, vendor_camera_prop)
