on boot
    chown system system /sys/class/leds/red/start_idx
    chown system system /sys/class/leds/green/start_idx
    chown system system /sys/class/leds/blue/start_idx
    chown system system /sys/class/leds/red/lut_flags
    chown system system /sys/class/leds/green/lut_flags
    chown system system /sys/class/leds/blue/lut_flags

service vendor.light-default /vendor/bin/hw/android.hardware.light-service.oneplus_sdm845
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical
